[submodule "javase-study"]
	path = javase-study
	url = git@github.com:xihuanxiaorang/javase-study.git
[submodule "algorithm-study"]
	path = algorithm-study
	url = git@github.com:xihuanxiaorang/algorithm-study.git
[submodule "mapstruct-study"]
	path = mapstruct-study
	url = git@github.com:xihuanxiaorang/mapstruct-study.git
[submodule "mysql-study"]
	path = mysql-study
	url = git@github.com:xihuanxiaorang/mysql-study.git
[submodule "datastructure-study"]
	path = datastructure-study
	url = git@github.com:xihuanxiaorang/datastructure-study.git
[submodule "design-pattern-study"]
	path = design-pattern-study
	url = git@github.com:xihuanxiaorang/design-pattern-study.git
